[class|='dimension'] {
	position: absolute;
}
[class|='dimension'] .ant-input-number {
	max-width: 60px;
}

.dimension-outside {
	top: 85px;
	right: 5px;
}
.dimension-innerside {
	bottom: 148px;
	right: 5px;
}
.dimension-angleA {
	top: 85px;
	right: 180px;
}
.dimension-angleB {
	top: 119px;
	right: 180px;
	/* transform: rotate(-20deg); */
}
.dimension-legB {
	top: -4px;
	right: 230px;
	/* transform: rotate(-20deg); */
}

.dimension-bevel {
	top: -25px;
	right: 25%;
}
.dimension-bevel mark {
	/* background: lime; */
}
